JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALxzATnDdIgq8/fxju/kOezq6Nz9NRWj\nAcbJMZRyIfesomyMhGQwQ571ziLgHIcwWAwW0X/UtiZFEu4B5HHaIcsCAwEAAQ==\n-----END PUBLIC KEY-----"
JWT_SECRET_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBALxzATnDdIgq8/fxju/kOezq6Nz9NRWjAcbJMZRyIfesomyMhGQw\nQ571ziLgHIcwWAwW0X/UtiZFEu4B5HHaIcsCAwEAAQJAVSsYy7VlTkEzX8SBWDPq\nZgPI2E9rlWrFW8UELlXiuh84i/ETN/tlizxeYTgFcqWr1Gqn0QmxW3QHwU9DuriE\niQIhAPgKOnjZZumh2pamuPtGkkFdTUZs0nAQ43Rt+VzgUuFfAiEAwn81gRIN69yK\nNMQV/lZPiTY0A/5vFA5VdxN1YWRbexUCICaCeAeRQVAep/Bh3DBvCYAKe1fmx1lM\n1fOaq2+HCHcjAiBaD+Orp7uQiyfoNSBmDHt58wJ1Ev1GkTicEgOZnIoL3QIhAKpk\nLF2Mw4Rgx8W0EvuhBExDAzG4Swr5pDp7pfsDrJVd\n-----END RSA PRIVATE KEY-----"