* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    position: relative;
    left: 150px;
    height: 100%;
    background: #E5E5E5;
    transition: all .4s ease;
}

.sidebar.act~.content {
    left: 357px;
}

.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -630px;
    width: 90px;
    height: 54px;
    border-radius: 40px;
    background-color: #fff;
}

.sidebar.act~.content .profile {
    left: 410px;
}

.kaca {
    padding: 0 5px;
}

.lonceng {
    padding: 0 5px;

}

.foto {
    position: absolute;
    right: 185px;
    top: 17px;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    transition: all .4s ease;
}

.sidebar.act~.content .foto {
    right: 410px;
}

.main-left {
    position: relative;
    height: 346px;
    width: 715px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.main-jdl {
    font-weight: bold;
    font-size: 24px;
    margin-left: 24px;
    padding-top: 24px;
}

.card-sunting {
    position: relative;
    margin-left: 24px;
    width: 293px;
    height: 240px;
    background-color: #6A35FF;
    border-radius: 10px 8px;
    overflow: hidden;
}

.variasi {
    position: absolute;
    width: 20%;
    left: 0;
    top: -5px;
    opacity: .2;
}

.variasi-img {
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;

}

.topik {
    margin-top: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 32px;
}

.detail {
    color: #E1E1E1;
    margin-left: 13px;
}

.btn-sunting {
    width: 245px;
    height: 62px;
    z-index: 111;
    border-radius: 14px;
    border: none;
    margin-left: 20px;
    margin-top: 40px;
    color: #6A35FF;
    font-weight: bold;
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, .4);
}
.btn-sunting:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);
    transition: all .4s ease;
}

.card-buat {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 346px;
    background-color: #D19200;
    border-radius: 10px;
    overflow: hidden;
    transition: all .4s ease;
}
.sidebar.act ~ .content .card-buat{
    width: 330px;
    transition: all .4s ease;
}
.main-jdl2{
    margin-top: 24px;
    color: #fff;
    font-size: 36px;
}
.var{
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn-buat{
    background-color: #FFFFFF;
    color: #FBAF00;
    font-weight: bold;
    width: 241px;
    height: 62px;
    border-radius: 14px;
    border: none;
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 40px;
    transition: all .4s ease;
}
.btn-buat:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);
    transition: all .4s ease;
}
.second-content{
    height: max-content;
    width: 1300px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .4s ease;
}
.sidebar.act ~ .content .second-content{
    width: 1085px;
    transition: all .4s ease;

}
.wrap{
    display: flex;
}
#filter{
    height: fit-content;
    margin-top: 24px;
    margin-right: 24px;
    border: none;
    outline: none;
}
.heading{
    margin-left: 24px;
    margin-top: 24px;
    font-size: 26px;
    font-weight: bold;
}
.card-soal{
    background-color: #fff;
    position: relative;
    margin-left: 24px;
    height: 240px;
    width: 293px;
    border-radius: 10px 8px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}
.var-img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.subjek{
    margin-top: 24px;
    margin-left: 10px;
    font-size: 32px;
    font-weight: bold;
}
.btn-hapus{
    color: #Eb4335;
    background-color: #FDECEB;
    width: 124px;
    height: 37px;
    border: none;
    border-radius: 6px;
    margin-top: 70px;
    margin-left: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}
.modal-header{
    border-radius: 24px;
    border: none;
    margin-left: 10px;
}
.modal-title{
    font-size: 28px;
    font-weight: bold;
}
.modal-footer{
    border: none;
}
.form-control{
    padding: 20px 20px;
    background-color: #F5F5F5;
    border-radius: 0;
    width: 96%;
    margin-left: 10px;
}
.btn-urungkan{
    height: 66px;
    width: 175px;
    color: #6A35FF;
    background-color: #fff;
    border: 1px solid #6A35FF;
    border-radius: 12px;
    font-weight: bold;
}
.btn-publish{
    height: 66px;
    width: 173px;
    color: #fff;
    background-color: #6A35FF;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}