@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #F0EFFF;
    
}
::-webkit-scrollbar{
    display: none;
}
/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background: #6A35FF;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.act .akt{
    background-color: #EBC314;
    border-radius: 10px;
}
.sidebar .akt{
    background-color: #EBC314;
    border-radius: 10px;
}
.sidebar.act{
    width: 357px;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: auto;
}
.sidebar.act .logo_content .logo{
    opacity: 1;
    position: relative;
    left: 40px;
    cursor: pointer;
    transition: all .5s ease;
}
.logo_content .logo i {
    font-size: 20px;
    margin-right: 5px;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}
.sidebar.act #btn{
    left: 90%;
    cursor: pointer;
}
.sidebar ul{
    margin-top: 20px;   
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 50%;
    left: 30px;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar.act ul li{
    width: 80%;
    left: 20px;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    border-radius: 12px;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    transition: all .4s ease;
}
.sidebar ul li i{
    height: 50px;
    min-width: 55px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar ul li a:hover{
    background: #EBC314;
    color: #6A35FF;
}
.sidebar .logout_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .logout_content .logout{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all .5 ease;
}
.sidebar.act .logout_content .logout{
    background: #6A35FF;
}
.logout_content .logout .log_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.act .logout .log_details{
    opacity: 1;
    pointer-events: auto;
}
.logout .log_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.logout .log_details .string{
    font-size: 20px;
    position: absolute;
    left: 90px;
    cursor: pointer;
}
.sidebar.act .logout .log_details .string{
    transition: all .4s ease;
}
.logout #log_out:hover{
    background-color: #EBC314;
}

.logout #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all .5 ease;
    background: #6A35FF;
    cursor: pointer;
}
.sidebar.act .logout #log_out{
    left: 20%;
    top: 1px;
}
.sidebar.act .logout #log_out{
    background: none;
}
.sidebar ul li .tultip{
    position: absolute;
    height: 35px;
    left: 162px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0;
    opacity: 0;
    pointer-events: none;
}
.sidebar.act ul li .tultip{
    left: 380px;
    display: block;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
.sidebar.act .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar ul li:hover .tultip{
    transition: all .5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar.act ul li:hover .tultip
{
    opacity: 0;
}
.nav-list{
    padding-left: 0 !important;
}
/* end */

/* content */
.home_content{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 150px;
    top: 24px;
    transition: all .5s ease;
}
.sidebar.act ~ .container-fluid .home_content{
    left: 357px;
}
.sidebar.act ~ .home_content .up-judul{
    position: absolute;
    left: 190px;
    top: 0;
    transition: all .4s ease;
}
.home_content .up-judul{
    position: relative;
    font-weight: bold;
    left: 66px;
    width: 600px;
    font-size: 36px;
    transition: all .4s ease;
}
.sidebar.act ~ .container-fluid .home_content .profile{
    left: 220px;
    transition: all .4s ease;
}
.profile{
    background: #fff;
    position: relative;
    border-radius: 60px;
    width: 80px;
    height: 40px;
    top: 10px;
    left: 390px;
    transition: all .4s ease;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    left: 90px;
    position: absolute;
}
.bx-search{
    position: absolute;
    left: 13px;
    top: 7px;
}
.bxs-bell{
    position: absolute;
    top: 7px;
    left: 10px;
    padding: 0 30px;
}
/* konten kiri */
.vid-l{
    position: relative;
    left: 94px;
    top: 20px;
    height: 338px;
    width: 583.5px;
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px #000;
    -o-box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -ms-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    transition: all .4s ease;
}
/* end */
/* konten kanan */
.vid-r{
    position: relative;
    left: 140px;
    top: 20px;
    height: 338px;
    max-width: 640px;
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    -o-box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -ms-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    transition: all .4s ease;
}
/* end */
.sidebar.act ~ .container-fluid .home_content .vid-r{
    width: 415px;
}
/* statistik */
.home_content .daftar{
    position: relative;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
}
.home_content #myChart{
    position: relative;
    top: 10PX;
}
.home_content #doughChart{
    position: relative;
    top: 0;
    left: 120px;
    transition: all .4s ease;
}
.sidebar.act ~ .container-fluid #doughChart{
    left: 50px;
    transition: all .4s ease;
}
.home_content .dough{
    position: relative;
    width: 300px;
}
/* end */
/* tugas */
.tugas{
    position: relative;
    width: 1260px;
    height: max-content;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    color: #000000;
    margin-top: 45px;
    margin-left: 90px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px #000;
    -o-box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -ms-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    transition: all .4s ease;
}
.sidebar.act ~ .container-fluid .tugas{
    width: 1040px;
    left: -5px;
    transition: all .4s ease;
}
.tugas h3{
    position: relative;
    font-weight: bold;
    font-size: 24px;
    left: 17px;
    top: 20px;
}
.tugas .tanggal{
    position: relative;
    top: 24px;
    left: 17px;
    font-size: 16px;
    color: #969696;
}
.task{
    position: relative;
    top: 16px;
    margin-left: 26px;
    margin-bottom: 20px;
    border-radius: 8px;
    height: 115px;
    width: 1175px;
    -webkit-box-shadow: 0 0 2px #000;
    -o-box-shadow: 0 0 2px #000;
    -moz-box-shadow: 0 0 2px #000;
    -ms-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
    transition: all .4s ease;
}
.sidebar.act ~ .container-fluid .task{
    width: 1000px;
    transition: all .4s ease;
}
.task p{
    position: absolute;
    top: 50%;
    left: 30px;
}
.btn{
    position: relative;
    left: 83%;
    top: 35%;
    color: #fff;
    -webkit-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    -o-box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -ms-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}
.btn:hover{
    color: #fff;
}
/* end */
/* kombo box */
.home_content .combo-box{
    position: absolute;
    left: 460px;
    top: 20px;
    outline: none;
    border: none;
    color: #969696;
}
/* end */
/* tugas banner*/
.home_content .judul-tugas{
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
/* end */
.count-tugas{
    position: absolute;
    left: 81%;
    top: 35%;
    transition: all .4s ease;
}
.sidebar.act ~ .container-fluid .count-tugas{
    transition: all .4s ease;
    left: 56%;
}
.variasi{
    position: absolute;
    right: 0;
    top: -3px;
}
.kerjakan{
    z-index: 1111;
}